<div id="carre">
    	<div> <%= image_tag("rubbanorange.png", :alt => "", :id => "rubban", a: "#",) %></div>
       <center>
       <div class="container" style="width:891px">
        <div class="row">
            <div class="col-md-4" style="margin-top: 25px;margin-left: 83px;">
            	<p><i class="  fa fa-user fa-4x"></i> </p>
            	
            	<p style="font-family: 'Lora', 'serif;font-size:17px"> <strong>Vous êtes candidat ?</strong></p>
            	<div class="action_btns">
						
				<div class="one_half last"><a href="#" class="btn btn_red" style="margin-left: 36px;width: 170px"><center style="margin-left: -5px">Consulter nos annonces</center></a></div>
					</div>
            </div>
            <div class="col-md-4" style="margin-top: 25px;">
            	<p><i class="fa fa-building-o fa-4x"></i></p>
            	<p style="font-family: 'Lora', 'serif;font-size:17px"><strong>Vous êtes une entreprise ?</strong> </p>
            	<div class="action_btns">
						
				<div class="one_half last"><a href="#" class="btn btn_red" style="margin-left: 36px;width: 170px"><center style="margin-left: -5px">Deposer une annonce</center></a></div>
					</div>
            </div>
            
    	</div>
    </div>
</center>

</div>




    <div class="container" style="margin-left:50px; margin-top:20px">

        <div class="row" style="margin-left: 220px;">

            <div class="col-md-4" style="padding-top: 2px;padding-left: 94px;">
            	<label>Inscrivez vous à la newsletter</label>
            </div>

            <div class="col-md-4">
            	
            	<input type="email" />
            	<a href="#" class="btn btn_red" style="padding-top: 1px;padding-bottom: 3px;">Login</a>
            </div>
            <div class="col-md-4"></div>

   

        </div>

    </div>



